<div class="container">
  <div class="row">
    <div class="col-xs-2">
      <div class="col-xs-9 col-xs-offset-1 top-main">
          
          
      <div class="row product-card-content">
        <h3>新着商品</h3>  
        
        
        
        
        
        
        
   </div>     
　</div>    
  <div class="all-items-show-button">
      <!--%= link_to "全ての商品をみる", _path %></div>-->
</div>
