<div class='container'>
  <div class='row'>
    <div class="col-sm-12 col-md-8 col-lg-5 px-5 px-sm-0 mx-auto">
      <h2>注文情報確認</h2>
      <div class="form-group">
        <h5>支払い方法</h5>
        <%= @order.payment_method_i18n %>
      </div>
      <div class="form-group">
        <h5>お届け先</h5>
        <%= @order.postal_code %> <%= @order.address %>
        <%= @order.name %>
      </div>
    </div>
  </div>
</div>