<div class="container">
  <div class="row">
    <div class="col-md-3">
      <!-- ジャンル検索部分テンプレート-->
    </div>
    <div class="col-md-9" >
     <h1><strong>商品一覧</strong></h1>
      <table class ="table">
      <tbody>
      <tr>
        <th>#商品画像</th> <!--%= image_tag @items_image.get_prifile_image(50,50) %>-->
      </tr>
      <tr>
        <th>商品名</th>
        <th><%= @items.name %></th>
      </tr>
      <tr>
        <th>¥0,000</th> <!--%= @items.price %>-->
      </tr>
      </tbody>     
      </table>
    </div>  
    </div>
  </div>
</div>
