<div class="container">
  <h2>商品一覧</h2>
  <div class="row">
    
           <% @items.reverse_each do |item| %> 
           <div class="cal-3">
           
      <div><%= link_to public_item_path(item) do %> 
           <%= image_tag item.image, size:"200x130" %>
           <% end %></div>
      <div><%= item.name %></div>
       <div>￥<%= (item.price*1.1).floor.to_s(:delimited) %>
      <% end %>
      </div>
      
      
      </div>
      </div>
     <!--<div class="d-flex justify-content-center">%= paginate @items %></div>-->
  </div>