<div class="container px-5 px-sm-0">
 <div class="row">
  <div class = "col-md-8 offset-md-1">
    <table class="table">
    <tbody>
      <tr>
        <td>
          <%= image_tag @item.image, size:"50x50" %>
        </td>
        <td>
          <div>
          <h1><%=  @item.name %></h1>
          </div>
          <div>
          <p><%= @item.introduction %></p>
          </div>
          <div>
          <h2>¥<%= @item.price*1.1 %></h2>(税込）
          </div>
        </td>
      </tr>
    </tbody>
    </table>
  </div>
  </div>
</div>
